<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    	  <class name="tests.Register"/>
      <class name="tests.Login"/>
      <class name="tests.Logout"/>
      <class name="tests.Search"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
